<ion-header>
  <ion-toolbar>
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-listpedidos [pedidos]="pedidos"></app-listpedidos>
</ion-content>
<ion-footer>
  <ion-tab-bar>
   <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button [routerLink]="['/user']">
        <ion-icon name="bag-handle-outline"></ion-icon>
        <ion-label>Catálogo</ion-label>
      </ion-tab-button>
      
      <ion-tab-button  [routerLink]="['/pedidos']">
        <ion-icon name="documents-outline"></ion-icon>
        <ion-label>Pedidos</ion-label>
      </ion-tab-button>
  
      <ion-tab-button>
        <ion-icon name="close-circle"></ion-icon>
        <ion-label>No Works</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-tab-bar>
</ion-footer>