<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Graficas</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Producto</ion-label>
      <ion-select (ionChange)="productos($event)">
        <ion-select-option *ngFor="let prod of prodE" value="{{prod['article_id']}}">{{ prod['compamy_description']}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div>
    <div>
      <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [type]="barChartType"></canvas>
    </div>
  </div>  
</ion-content>

<ion-footer>
  <ion-tab-bar>
   <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button [routerLink]="['/user']">
        <ion-icon name="bag-handle-outline"></ion-icon>
        <ion-label>Catálogo</ion-label>
      </ion-tab-button>
      
      <ion-tab-button  [routerLink]="['/pedidos']">
        <ion-icon name="documents-outline"></ion-icon>
        <ion-label>Pedidos</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/grafica']">
        <ion-icon name="pie-chart-outline"></ion-icon>
        <ion-label>Graficas</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-tab-bar>
</ion-footer>