<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancelar()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-label>Empresa</ion-label>
  <ion-select (ionChange)="obtenerProdCompany($event)">
    <ion-select-option *ngFor="let company of companies" [value]=company.id>{{company.name}}</ion-select-option>
  </ion-select>
</ion-item>
<ion-list>
  <ion-row>
      <ion-col size="12" size-lg="3" size-md="2" size-sm="6" size-xs="12" *ngFor="let prod of prodFil, let i = index"> 
        <ion-item>
          <ion-checkbox (ionChange)="habilitar($event,prod)" slot="start"></ion-checkbox>
          <h5>{{prod['compamy_description']}}</h5>
          <ion-buttons *ngIf="prod['isChecked']==true" slot="end">
            <ion-button color="primary" size="small" slot="end" (click)="sumar(prod)"><ion-icon name="add"></ion-icon></ion-button>
            <ion-label slot="end">{{prod['cant']}}</ion-label>
            <ion-button color="danger" size="small" slot="end" (click)="restar(prod)"><ion-icon name="remove"></ion-icon></ion-button>
          </ion-buttons>
        </ion-item>
      </ion-col>  
  </ion-row>
</ion-list>
<ion-button color="primary" (click)="realizarPedido()">Realizar Pedido</ion-button>
</ion-content>
